@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .85rem 0 0;
  background-color: #161a1d;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #ba181b;
  margin: 0;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.55rem;
}

.Header-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.22rem;
  text-align: center;
  padding: 0 0 .85rem 0;
  margin: 0;
  background-color: #161a1d;
  color: #f5f3f4;
}

.App {
  height: 100%;
  padding: 5% 10% 15%;
  background-image: url('./background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}